---
layout: default
---

<div class="container row">
    <h1 class="cv-title"><span class="black white-text">{{ site.title }}</span></h1>
    <div>
        <p>While forming an opinion on Utah’s Inland Port Authority (UIPA), simply accessing information on the topic can only get one so far. As a large-scale project which is being developed in real-time, it can be difficult to pinpoint which information is relevant at the time at which the conversation is accessed.</p>

        <p>In some cases, it’s not so much a question of relevancy as it is a question of purpose. For example, when the University of Utah first released their Inland Port Market Assessment, its purpose was to inform early-stage decisions about the very existence of a port. Now, since those decisions have been made, the information in that report is not necessarily irrelevant, but serves a different purpose--perhaps as the baseline to identify recurring issues as the conversation continues to unfold. When the assessment suggested that “the environmental impact of a proposed inland port deserves in-depth research and analysis”, this set a precedent for future analyses. By examining the timeline of the inland port, it will be determined how closely present-day developments reflect earlier visions.</p>
    </div>
    {% assign steps = site.steps | sort: 'date' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.date | date: '%m/%Y' }}{% if step.enddate %} - {{ step.enddate | date: '%m/%Y' }}{% endif %}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ step.title }}
            </h3>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="last-item">
        <i class="vertical-line"></i>
        
    </div>
    </div>