---
layout: default
---

<div class="container row">
    <h1 class="cv-title"><span class="black white-text">{{ site.title }}</span></h1>
    <div>
        <p>While forming an opinion on Utah’s Inland Port Authority (UIPA), simply accessing information on the topic can only get one so far. As a large-scale project which is being developed in real-time, it can be difficult to pinpoint which information is relevant at the time at which the conversation is accessed.</p>

        <p>In some cases, it’s not so much a question of relevancy as it is a question of purpose. For example, when the University of Utah first released their Inland Port Market Assessment, its purpose was to inform early-stage decisions about the very existence of a port. Now, since those decisions have been made, the information in that report is not necessarily irrelevant, but serves a different purpose--perhaps as the baseline to identify recurring issues as the conversation continues to unfold. When the assessment suggested that “the environmental impact of a proposed inland port deserves in-depth research and analysis”, this set a precedent for future analyses. By examining the timeline of the inland port, it will be determined how closely present-day developments reflect earlier visions.</p>
    </div>
    {% assign steps = site.steps | sort: 'date' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.date | date: '%m/%Y' }}{% if step.enddate %} - {{ step.enddate | date: '%m/%Y' }}{% endif %}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ step.title }}
            </h3>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="last-item">
        <i class="vertical-line"></i>
        
    </div>
    <div>
        <h2>Community Guide to Utah's Inland Port Authority</h2>
        <h3>Undeveloped Land and Undeveloped Plan</h3>
        <p>More than half of UIPA’s jurisdiction contains important wetlands, highly liquefiable soils, flood plains, and fault lines, making it mostly unsuitable for building (Salt Lake City). These are things that are not only meant to be understood, but to be integrated into future planning. </p>
        <h3>Air Quality</h3>
        <p>As acknowledged in the UIPA’s Strategic Business Plan, Salt Lake County is in serious nonattainment status for PM2.5 and ozone. With that in mind, there is no assurance that air pollution will do anything but go up as the port is developed. (UIPA). Furthermore, regardless of air pollution levels, Utah Physicians for a Healthy Environment have pointed out that adverse health outcomes will rise with the level of pollution, concluding that the port’s development will inevitably create severe public health consequences (Utah Physicians).</p>
        <p>The port will generate 11,600 new truck trips and with the unavoidable idling of these trucks, this will add an additional 22,000 or more hours of pollution per day (Utah Physicians). UIPA suggests zero emission or near-zero emission trucking fleets to counteract its negative effects on air quality. However, it is one thing to say this, and another to make it actionable. UIPA contradicts these aspirations by pointing out that “97% of class 8 big-rig trucks are diesel powered. Conventional diesels will still be more that 70% of U.S. heavy-duty vehicles through 2050” (UIPA).</p>p
        <p>Due to the port’s location, it will become increasingly necessary to use pesticides to control the Northwest Quadrant’s mosquito population. Pyrethroid compounds, which are commonly used to control adult mosquitoes, have shown to be extremely toxic to human health. They have been known to be associated with and cause birth defects, neurologic diseases, brain diseases, and increased mortality rate (Utah Physicians).</p>
        <h3>Community Impacts</h3>
        <p>So far, there is only one person representing West Valley City on UIPA’s 11-person board. Given that UIPA has control over board appointments and that most of the port’s authorized jurisdiction is located on Salt Lake City’s westside, it is imperative that the westside is better represented, through government or community.</p>
        <p>One of UIPA’s major talking points is its ability to bring in thousands of new jobs. While this could greatly benefit the state and surrounding communities, it is important to carefully consider the community and question and evaluate the type and quality of promised employment. So far, UIPA has not committed to making the port a living-wage zone with a minimum wage of 15 dollars per hour.
        </p>
    </div>
    <div>
        <h2>Works Cited</h2>
        <p>Gochnour, Natalie. Kem C. Gardner Policy Institute, Salt Lake City, Utah, 2016, pp. 1–4, Salt Lake Inland Port Market Assessment.<p>
        <p>H. B. 433, 63 Legislature, 2018 Reg. Sess. (Utah. 2019).  <a href="https://le.utah.gov/~2019/bills/static/HB0433.html">https://le.utah.gov/~2019/bills/static/HB0433.html</a>
        Salt Lake City. Northwest Quadrant Master Plan, Salt Lake City, Utah, 2016.</p>
        <p>S. B. 234, 62 Legislature, 2018 Reg. Sess. (Utah. 2018). <a href="https://le.utah.gov/~2018/bills/static/SB0234.html">https://le.utah.gov/~2018/bills/static/SB0234.html</a></p>
        <p>Utah Inland Port Authority (UIPA), 2020, Strategic Business Plan, FY2020-2024.<a href="https://inlandportauthority.utah.gov/business-plan/">https://inlandportauthority.utah.gov/business-plan/</a></p>
        <p>Utah Physicians for a Healthy Environment, 2020, Response to UIPA Strategic Business Plan The Inland Port, Public Health and the Environment , <a href="documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:7260a39b-b9b7-4689-81b7-c484e679efbc">documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:7260a39b-b9b7-4689-81b7-c484e679efbc</a>.</p>
        <p>World Trade Center - Utah & Utah Governor's Office of Economic Development, Salt Lake City, Utah, 2017, Utah Inland Port - Feasibility Analysis.<a href="http://wtcutah.com/wp-content/uploads/2018/01/Inland-Port.pdf">http://wtcutah.com/wp-content/uploads/2018/01/Inland-Port.pdf</a></p>
    </div>
    </div>
    </div>